
{% extends "/frontend/homePageTemplate.twig" %}

{% block title %}Mon Blog - article {% endblock %}
{% block blog %}
    <u>{{ parent() }}</u>
    {% endblock %}



{% block content %}
    <div class="container">
        <div class="blogcontent">

            <div class="post bg-light mb-3" >
                <div class=""><h4>{{ post.title }}</h4></div>
                <div class="chapeau">
                    {{ post.chapeau }}
                </div>
                <div class="postContent">
                    {{ post.content }}
                </div>
                <div>
                    <p><i class="far fa-clock"></i>{{ post.lastDate|date("d/m/Y")}} </p>

                </div>

            </div>

        </div>
        <section>
            <div class="mt-3 mb-3">
                <div class="container">
                    <h5>Commentaires</h5>
                    {% if message == 'commentAdd' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Le commentaire a bien été enregistré. Il va être sousmis à validation par l'administrateur.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    {% for comment in comments %}
                        <div class="row">
                            {{comment.author }}
                            {{ comment.dateTime }}
                            {{ comment.content }}
                        </div>
                    {% endfor %}
                    <form action="/blog/add" method='post'>
                        <input type="hidden" name="post_id" value="{{ post.id }}" />
                        <div class="form-group">
                            <label for="author">Votre pseudo</label>
                            <input type="text" name="author" class="form-control" id="author" >
                        </div>
                        <div class="form-group">
                            <label for="comment">Votre message</label>
                            <textarea name="content" class="form-control" id="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-pill">Valider</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
