
{% extends "/frontend/homePageTemplate.twig" %}

{% block title %}Mon Blog - article {% endblock %}
{% block blog %}
    <u>{{ parent() }}</u>
    {% endblock %}



{% block content %}
    <div class="container">
        <div class="blogcontent">

            <div class="post bg-light mb-3" >
                <div class=""><h4>{{ post.title }}</h4></div>
                <div class="chapeau">
                    {{ post.chapeau }}
                </div>
                <div class="postContent">
                    {{ post.content }}
                </div>
                <div>
                    <p><i class="far fa-clock"></i>{{ post.lastDate|date("d/m/Y")}} </p>

                </div>

            </div>

        </div>
        <section>
            <div class="mt-3 mb-3">
                <div class="container">
                    <h5>Commentaires</h5>
                    
                    
                    
                    
                    <form action="/blog/comment/{{ post.id }}" method='post'>
                        <div class="form-group">
                            <label for="comment">Votre message</label>
                            <textarea class="form-control" id="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-pill">Valider</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
