{% extends "/backend/homePageTemplate.twig" %} 


{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/back">Accueil </a>
                </li>
                <li class="breadcrumb-item active">
                    Gestion des articles
                </li>
            </ol>

            <div class="row">

                <div class="col-3">
                    <div class="card">

                        <div class="card-header">
                            Ajouter un article
                        </div>
                        <div class="card-body">

                            <a href="/post/postform"><button type="button" class="btn btn-primary"> Ajouter</button></a>

                        </div>

                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-table"></i> Liste des articles</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#Id</th>
                                            <th>Titre</th>
                                            <th>Chapeau</th>
                                            <th>date</th>
                                                {#                                            <th>content</th>#}
                                            <th>Utilisateur</th>
                                            <th>Publié</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#Id</th>
                                            <th>Titre</th>
                                            <th>Chapeau</th>
                                            <th>date</th>
                                                {#                                            <th>content</th>#}
                                            <th>Utilisateur</th>
                                            <th>Publié</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for post in posts %}
                                            <tr>
                                                <td>{{ post.id }}</td>
                                                <td>{{ post.title }}</td>
                                                <td>{{ post.chapeau }}</td>
                                                <td>{{ post.lastDate }}</td>
                                                {#                                                <td>{{ post.content }}</td>#}
                                                <td>{{ post.firstname }}</td>
                                                <td>{{ post.published }}</td>
                                                <td>
                                                    <form method="post" action="/post/modifypost/{{ post.id }}">
                                                      
                                                        <button type="submit" class="btn btn-primary btn-sm">Modifier</button>
                                                    </form>
                                                    {% if post.published != 1 %}
                                                        <form method="post" action="/post/publishpost/{{ post.id }}">
                                                            <input type="hidden" name="token" id="token" value="{{ token }}" />
                                                            <button type="submit" class="btn btn-success btn-sm">Publier</button>
                                                        </form>
                                                    {% else %}
                                                        <form method="post" action="/post/unpublishpost/{{ post.id }}">
                                                            <input type="hidden" name="token" id="token" value="{{ token }}" />
                                                            <button type="submit" class="btn btn-warning btn-sm">Dé Publier</button>
                                                        </form>
                                                    {% endif %}
                                                    <form method="post" action="/post/deletepost/{{ post.id }}">
                                                        <input type="hidden" name="token" id="token" value="{{ token }}" />
                                                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                                    </form>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer small text-muted">Dernière mise à jour le {{ lastDate }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
