

{% extends "/backend/homePageTemplate.twig" %}

{% block title %}Mon Blog - article {% endblock %}




{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/back">Accueil </a>
                </li>
                <li class="breadcrumb-item active">
                    Validation des commentaires
                </li>

            </ol>

            <div class="post bg-light mb-3" >
                <div class=""><h4>{{ post.title }}</h4></div>
                <div class="chapeau">
                    {{ post.chapeau }}
                </div>
                <div class="postContent">
                    {{ post.content }}
                </div>
                <div>
                    <p><i class="far fa-clock"></i>{{ post.lastDate|date("d/m/Y")}} </p>

                </div>

            </div>


            <section>
                <div class="mt-3 mb-3">
                    <div class="container">
                        <h5>Commentaires</h5>
                        {% if message == 'validate' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                Commentaire validé !
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        {% for comment in comments %}
                            <div class="row">
                                {{ comment.author }}
                                {{ comment.dateTime }}
                                {{ comment.content }}
                                {% if comment.published == false %}
                                    <form method="post" action="/comment/commentValidate/{{ comment.id }}">
                                        <input type="hidden" name="token" id="token" value="{{ token }}" />
                                        <button type="submit" class="btn btn-warning btn-sm">Valider</button>
                                    </form>

                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
